
body {
    width: 100%;
    height: 100%;
    background-image: contain;
    background-image: cover;
    background-image: url(./images/bckg.jpg);
    background-color: red;
    background-blend-mode: darken;
}

.todo-container {
    box-shadow: rgba(1, 5, 5, 0.5) 5px 5px;
    padding: 5px;
    border-radius: 10px;
    position: absolute;
    left: 35%;
    top: 20%;
    background: white;
    width: 400px;
    min-height: 250px;
}

.container {
    text-align: center;
    position: absolute;
    left: 35%;
    top: 5%;
    width: 400px;
}

.task-div {
    width: 350px;
    text-align: center;
    margin: 5px 0; 
}

